<nav class="store-nav">
  <h3>Shop Collections</h3>
  <ul class="nl">
    {% for link in collections %}
      {% unless link.handle == 'frontpage' or link.handle == 'sale' or link.handle == 'cart' %}
        <li><a href="{{ link.url }}"{% if collection.id == link.id %} class="is-current"{% endif %}>{{ link.title }}</a></li>
      {% endunless %}
    {% endfor %}
  </ul>
</nav>
<nav class="store-mobileNav">
  <div class="form-select">
    <select id="nav_collection">
      <option selected>Browse Collections</option>
      {% for collection in collections %}
        <option value="{{ collection.url }}">{{ collection.title }}</option>
      {% endfor %}
    </select>
    <svg aria-hidden class="form-select-icn icn icn--arrow" role="img" viewbox="0 0 512 512">
      <use xlink:href="#icon_arrow"></use>
    </svg>
  </div>
</nav>
