<nav class="store-nav">
  <h3>Shop Collections</h3>
  <ul class="nl">
    {% for collection in collections %}
      {% unless collection.handle == 'frontpage' or collection.handle == 'sale' %}
        <li><a href="{{ collection.url }}">{{ collection.title }}</a></li>
      {% endunless %}
    {% endfor %}
  </ul>
</nav>
<nav class="store-mobileNav">
  <div class="form-select">
    <select id="nav_collection">
      <option>Browse Collections</option>
      {% for collection in collections %}
        <option value="{{ collection.url }}">{{ collection.title }}</option>
      {% endfor %}
    </select>
  </div>
</nav>
