<div id="modal_signup" class="modal modal--bleed">
  <div class="modal-inner tac tcw" style="background-image: url('{{ 'image-signup.jpg' | asset_url }}');">
    <a href="javascript:" class="modal-close">✕</a>
    <h2>Deux Mains Discount</h2>
    <p class="ts18 mbl l2c ld12">Sign up for our newsletter and receive a coupon for <strong>10%&nbsp;OFF</strong> your&nbsp;order!</p>
    <form action="//RebuildGlobally.us1.list-manage.com/subscribe/post?u=e15d4f9137bb664bf67464659&amp;id=27b1af55fc" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_e15d4f9137bb664bf67464659_27b1af55fc" tabindex="-1" value=""></div>
      <div class="form-pair">
        <input id="mc_newsletter" type="email" name="EMAIL" placeholder="My email address" value=""><input type="submit" value="Sign Up">
      </div>
    </form>
  </div>
</div>
