// *************************************
//
//   Button
//   -> Button styles
//
// *************************************

.btn
  background-color: transparent
  border: none
  border-radius: 2em
  box-shadow: 0 0 0 2px $c-action
  color: $c-action
  font-family: $t-text-fontFamily
  padding: 0.25em 0.75em
  text-decoration: none
  transition: background-color 250ms ease-out, box-shadow 250ms ease-out
  +respond-to( $g-s )
    box-shadow: 0 0 0 3px $c-action
    font-size: 1.25 * $t-text-fontSize
    padding: 0.5em 1em
  &:hover
    background-color: scale-color( $c-action, $lightness: 20%, $saturation: 15% )
    color: white
    box-shadow: 0 0 0 3px scale-color( $c-action, $lightness: 20%, $saturation: 15% )

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Large ----- //

.btn--l
  font-weight: 600
  padding: 0.625em 1.75em

// ----- Invert ----- //

.btn--i
  background: rgba( white, 0.6 )
  box-shadow: 0 0 0 1px $c-action
  color: $c-action
  font-size: $t-text-fontSize
  font-weight: 600
  &:hover
    background: rgba( white, 0.95 )
    box-shadow: 0 0 0 1px $c-action
    color: $c-action

// ----- Red ----- //

.btn--r
  background: rgba( white, 0.6 )
  border-radius: 0.25em
  box-shadow: 0 0 0 1px $ironRed
  color: $ironRed
  font-size: 0.75 * $t-text-fontSize
  letter-spacing: 0.125em
  text-transform: uppercase
  &:hover
    background: rgba( white, 0.8 )
    box-shadow: 0 0 0 1px scale-color( $ironRed, $lightness: 20%, $saturation: 15% )
    color: scale-color( $ironRed, $lightness: 20%, $saturation: 15% )
