// *************************************
//
//   Sale
//   -> Sale tag
//
// *************************************

.sale
  background-color: white
  background-image: url('{{ "image-bg-redcanvas.png" | asset_url }}')
  background-position: center center
  background-repeat: no-repeat
  background-size: 200% auto
  color: white
  display: inline-block
  letter-spacing: 0.25em
  padding: 0.5em 1em
  text-transform: uppercase
