// *************************************
//
//   Sale
//   -> Sale tag
//
// *************************************

.sale
  background: white url( '{{ bg-redcanvas.png | asset_url }}' ) no-repeat center center
  background-size: 200% auto
  color: white
  display: inline-block
  letter-spacing: 0.25em
  padding: 0.5em 1em
  text-transform: uppercase
