// *************************************
//
//   Store
//   -> Product layout styles
//
// *************************************

.store
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  margin-top: 1px
  padding-bottom: $b-space

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Cart ----- //

.store-cart
  box-shadow: 0 1px 0 $c-border
  display: block
  width: 100%
  +respond-to( $g-s )
    display: table
  small
    +respond-to( $g-s )
      display: block
  thead,
  tbody
    display: block
    +respond-to( $g-s )
      display: table-row-group
  .form-pair
    display: block
    +respond-to( $g-s )
      display: flex

// Scaffolding

.store-cart-checkout
  display: block
  letter-spacing: 0.125em
  margin-bottom: $b-space
  margin-left: auto
  margin-right: auto
  text-transform: uppercase
  text-align: center
  width: 50%
  +respond-to( $g-s )
    float: right
    margin-left: $b-space-l
    width: auto

.store-cart-continue
  display: block
  letter-spacing: 0.125em
  text-align: center
  text-decoration: none
  text-transform: uppercase
  +respond-to( $g-s )
    text-align: right
    padding-top: $b-space-s

.store-cart-item
  display: block
  padding-bottom: $b-space-s
  padding-right: $b-space
  padding-top: $b-space
  position: relative
  +respond-to( $g-s )
    display: table-row
    padding-bottom: 0
    padding-top: 0
  a
    text-decoration: none
  td
    display: block
    vertical-align: middle
    +respond-to( $g-s )
      display: table-cell
      padding-bottom: $b-space-s
      padding-top: $b-space-s
  + .store-cart-item
    border-top: 1px solid $c-border

.store-cart-name
  line-height: 1
  +respond-to( $g-s )
    padding-left: $b-space-s
    width: 50%
  h3
    clear: none
    margin-bottom: 0

.store-cart-thumb
  float: left
  margin-right: $b-space-s
  +respond-to( $g-s )
    float: none
    margin-right: 0
    width: 5%
  a
    display: block
  img
    width: $b-space-xl
    +respond-to( $g-s )
      width: 1.5 * $b-space-xl

.store-cart-price
  font-size: 125%
  position: absolute
  right: 0
  top: 1.25 * $b-space-l
  +respond-to( $g-s )
    font-size: 150%
    padding-right: $b-space
    position: static
    text-align: center
    width: 10%

.store-cart-q
  margin-top: $b-space-s
  padding-left: $b-space-s
  padding-right: $b-space-s
  +respond-to( $g-s )
    margin-top: 0
    text-align: center
    width: 25%
  label
    font-size: 75%
    margin-right: $b-space-xs
  input
    min-width: 3em
    width: 3em

.store-cart-remove
  position: absolute
  right: 0
  top: $b-space
  +respond-to( $g-s )
    padding-left: $b-space-s
    position: static
    width: 10%

// ----- Details ----- //

.store-details
  flex: auto
  order: 0
  +respond-to( 580px )
    flex: 1
    order: 1
    padding-left: $b-space-s
  +respond-to( $g-m )
    flex: 2

  p
    +respond-to( 960px )
      font-size: 1.125 * $t-text-fontSize

// Scaffolding

.store-details-preview
  margin-bottom: $b-space-l
  margin-left: -$b-space
  margin-right: -$b-space
  margin-top: -$b-space-l
  width: calc( 100% + #{ $b-space-l })
  +respond-to( 580px )
    display: none

.store-details-price
  font-size: 2 * $t-text-fontSize
  line-height: 1.2
  margin-bottom: $b-space-l

.store-details-related
  display: flex
  flex-wrap: wrap
  margin: 0
  padding: 0
  li
    padding: $b-space-s
    width: 50%
    +respond-to( $g-m )
      width: 25%

// Modifiers

.store-details--sale
  h1
    position: relative
    &::after
      @extend .sale
      content: attr( data-discount ) "% off"
      font-family: $t-text-fontFamily
      font-size: 1.125 * $t-text-fontSize
      margin-left: 1em
      vertical-align: top
  .store-details-price
    color: $ironRed

// ----- Gallery ----- //

.store-gallery
  flex: auto
  order: 1
  +respond-to( 580px )
    flex: 1
    order: 0
    padding-right: $b-space-l
  +respond-to( $g-m )
    flex: 3

// Scaffolding

.store-gallery-lg
  ul
    height: 0
    margin: 0
    padding-bottom: 0
    padding-left: 0
    padding-right: 0
    padding-top: 75%
    position: relative
  li
    bottom: 0
    left: 0
    margin: 0
    opacity: 0
    overflow: hidden
    position: absolute
    right: 0
    top: 0
    transition: opacity 250ms linear
  li.is-showing
    opacity: 1

.store-gallery-thumb
  margin-top: $b-space
  ul
    margin: 0
    padding: 0
  li
    display: inline-block
    padding: $b-space-xs
    a
      display: block
      filter: grayscale( 80% )
      height: 1.75 * $b-space-l
      opacity: 0.4
      overflow: hidden
      position: relative
      transition: opacity 150ms linear
      transform: translateZ( 0 )
      width: 1.75 * $b-space-l
      +respond-to( $g-s )
        height: $b-space-xl
        width: $b-space-xl
      &::after
        bottom: 0
        box-shadow: inset 0 0 0 1px $cerulean
        content: ""
        left: 0
        opacity: 0
        position: absolute
        right: 0
        top: 0
        transition: opacity 150ms linear
  li a:hover
    filter: grayscale( 25% )
    opacity: 0.7
    &::after
      opacity: 1

  li a.is-viewing
    filter: grayscale( 0% )
    opacity: 1
    &::after
      box-shadow: inset 0 0 0 1px $cerulean
      opacity: 1

// Modifiers

.store-gallery--portrait
  .store-gallery-lg
    ul
      padding-top: percentage( 4 / 3 )

// ----- Features ----- //

.store-features
  ul
    margin: $b-space auto
    padding: 0
    +respond-to( $g-m )
      max-width: 62.5%
  li
    align-items: center
    display: flex
    margin-bottom: $b-space
  svg
    flex: none

// ----- List ----- //

.store-list
  display: flex
  flex: auto
  flex-wrap: wrap
  margin: 0 auto $b-space-l
  padding-left: $b-space-s
  padding-right: $b-space-xs
  width: 100%
  +respond-to( $g-s )
    flex: 1
    padding-left: $b-space
    padding-right: $b-space-s
  li
    margin-bottom: $b-space-l
    margin-left: 0
    margin-right: 0
    margin-top: 0
    padding: $b-space-s
    width: percentage( 1 / 2 )
    +respond-to( $g-m )
      padding: $b-space
      width: percentage( 1 / 3 )
    +respond-to( $g-l )
      width: 25%

// ----- Nav ----- //

.store-nav
  display: none
  font-size: 112.5%
  letter-spacing: 0.0625em
  line-height: 1.2
  padding-right: $b-space-l
  width: 25%
  +respond-to( $g-s )
    display: block
  ul
    padding: 0
    +respond-to( $g-l )
      width: 10 * $b-space
      margin-left: auto
      margin-right: auto
  li
    margin: 0
    + li
      margin-top: 1.5 * $b-space-s
  h3
    font-family: $t-text-fontFamily
    letter-spacing: 0.125em
    padding-bottom: $b-space-s
    padding-top: $b-space-s
    text-transform: uppercase
    +respond-to( $g-l )
      width: 10 * $b-space
      margin-left: auto
      margin-right: auto
  a
    font-family: $t-heading-fontFamily
    text-decoration: none

  // States

  a.is-current
    color: $c-text
    text-transform: uppercase

// ----- Mobile Nav ----- //

.store-mobileNav
  display: block
  margin-bottom: $b-space-l
  width: 100%
  +respond-to( $g-s )
    display: none

// ----- Product ----- //

.store-product
  line-height: 1
  a
    display: block
    text-decoration: none
    &:hover .store-product-img::after
      box-shadow: inset 0 0 0 1px scale-color( $cerulean, $lightness: 50% )

// Scaffolding

.store-product-color
  border-radius: 50%
  box-shadow: inset 0 0 0 1px $gold
  display: inline-block
  height: $b-space
  width: $b-space
  + .store-product-color
    margin-left: $b-space-xs

.store-product-color.is-out
  opacity: 0.3

.store-product-img
  height: 0
  overflow: hidden
  padding-top: 75%
  position: relative
  &::after
    bottom: 0
    box-shadow: inset 0 0 0 1px transparent
    content: ""
    left: 0
    position: absolute
    right: 0
    top: 0
    transition: box-shadow 150ms linear
    +z-index( overlay )
  img
    display: block
    left: 50%
    position: absolute
    top: 0
    transform: translateX( -50% )
    width: 100%

.store-product-name
  color: $c-text
  font-family: $t-heading-fontFamily
  font-size: 1.25 * $t-text-fontSize
  margin-top: 0.5em
  +respond-to( $g-s )
    font-size: 0.5 * $t-heading-fontSize

.store-product-price
  color: $cerulean
  font-size: 1.25 * $t-text-fontSize
  padding-bottom: 0.4em

.store-product-status
  color: $c-subdue
  font-size: 0.75 * $t-text-fontSize
  letter-spacing: 0.25em
  padding-bottom: 0.0625em
  text-transform: uppercase

// Modifiers

.store-product--out
  .store-product-img
    img
      filter: grayscale( 90% )
      opacity: 0.7
  .store-product-price
    color: scale-color( $c-text, $lightness: 60% )

.store-product--related
  a
    background: white
    padding: $b-space-s
    &:hover .store-product-img::after
      box-shadow: none

.store-product--sale
  position: relative
  &::after
    @extend .sale
    content: "Sale"
    position: absolute
    right: 1.5 * $b-space
    top: $b-space
    +z-index( overlay, 1 )
  .store-product-img::after
    box-shadow: inset 0 0 0 1px scale-color( $ironRed, $lightness: 50% )
  .store-product-price
    color: $ironRed
  a:hover .store-product-img::after
    box-shadow: inset 0 0 0 1px $ironRed
