// *************************************
//
//   Story
//   -> Text-heavy blog articles + content
//
// *************************************

.story
  h1
    margin-bottom: 0
  img + h1
    margin-top: $b-space
  time
    color: $c-subdue
    display: block
    font-size: 1.25 * $t-text-fontSize
    letter-spacing: 0.25em
    text-align: center
    text-transform: uppercase

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Bleed ----- //

.story-bleed
  margin-bottom: $b-space-2
  margin-top: $b-space-2
  img
    display: block
    width: 100%

// Modifiers

.story-bleed--l
  order: 2
  +respond-to( $g-m )
    order: 0
  img
    right: 50%

// ----- Next / Prev ----- //

.story-next
  font-size: 1.25 * $t-text-fontSize
  display: inline-block
  text-decoration: none

.story-prev
  font-size: 1.25 * $t-text-fontSize
  display: inline-block
  text-decoration: none

.story-prev + .story-next
  margin-left: $b-space-4

// ----- Split ----- //

.story-split
  > p
    letter-spacing: 0.0625em
    margin-bottom: $b-space-2
    margin-top: $b-space-2
    max-width: 0.5 * $b-maxWidth
    padding-left: $b-space
    padding-right: $b-space
    +respond-to( $g-s )
      font-size: 1.25 * $t-text-fontSize
    +respond-to( $g-m )
      margin-left: 0
      margin-right: 0
      padding-left: 0
      padding-right: 0

// Modifiers

.story-split--r
  display: flex
  justify-content: flex-end

// ----- Text ----- //

.story-text
  +respond-to( $g-s )
    font-size: 1.25 * $t-text-fontSize
  p
    margin-bottom: 0
    padding-left: $b-space
    padding-right: $b-space
    + *
      margin-top: $b-space-2
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    font-family: $t-text-fontFamily
    font-size: 1.25 * $t-text-fontSize
    font-weight: 600
    letter-spacing: 0.1875em
    margin-left: auto
    margin-right: auto
    margin-bottom: $b-space-05
    max-width: 27.5em
    text-transform: uppercase
    +respond-to( $g-s )
      font-size: 1.5 * $t-text-fontSize
      margin-bottom: $b-space-2
  * +
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6
      margin-top: $b-space-2

// -------------------------------------
//   Modifiers
// -------------------------------------

.story--mini
  &::after
    background: $c-subdue
    content: ""
    height: 1px
    left: 0
    position: absolute
    margin-top: 1.5 * $b-space-2
    width: 100%
