<div class="hero">
  <div class="hero-image" style="background-image: url('{{ collection.image.src | img_url: 'master' }}}')"></div>
  <div class="hero-content">
    <h1>{{ collection.title }}</h1>
    {{ collection.description }}
  </div>
</div>
<div class="row row--emote">
  <a href="{{ pages.about.url }}" style="text-decoration: none;">
    <div class="ptl pbl cell tac">
      <div class="tck ttu ld1 tr2 mbs"><strong>Each purchase turns poverty into prosperity.</strong></div>
      <div class="btn btn--r dib">Learn More</div>
    </div>
  </a>
</div>
<div class="row">
  <div class="store">
    {% include 'collections' %}
    <ul class="store-list nl">
      {% for item in collection.products %}
        {% include 'product' %}
      {% endfor %}
    </ul>
  </div>
</div>
