{% if page.metafields.hero['image'] != blank and page.metafields.hero['title'] != blank %}
  {% unless page.metafields.hero['url'] is blank %}
    <a class="hero" href="{{ page.metafields.hero['url'] }}">
  {% endunless %}
      <div class="hero-image" style="background-image: url('{{ page.metafields.hero['image'] }}')"></div>
      <div class="hero-content">
        <h1>{{ page.metafields.hero['title'] }}</h1>
        {% unless page.metafields.hero['subtitle'] is blank %}
          {{ page.metafields.hero['subtitle'] }}
        {% endunless %}
      </div>
  {% unless page.metafields.hero['url'] is blank %}
    </a>
  {% endunless %}
{% endif %}
<div class="row row--canvas">
  <a href="/about" style="text-decoration: none;">
    <div class="ptl pbl cell tac">
      <div class="tfh ts24 tck lh1 mbs">Haitian-made and Haitian-operated since 2013.</div>
      <div class="btn btn--i tr3 dib">Learn More</div>
    </div>
  </a>
</div>
<div class="row">
  <div class="store">
    {% include 'collections' %}
    <ul class="store-list nl">
      {% for product in collections.frontpage.products %}
        {% include 'product', product %}
      {% endfor %}
    </ul>
  </div>
</div>
