/**
 * Header
 *
 * Styles for header + navigation
 */

/**
 * @section Base
 */

.header
  background: white
  padding-top: $b-space-05
  +respond-to($g-s)
    padding-bottom: 0.75 * $b-space
    padding-top: 0.75 * $b-space

/**
 * @section Submodules
 */
