// *************************************
//
//   Hero
//   -> Head image
//
// *************************************

.hero
  color: white
  display: flex
  align-items: center
  height: 3 * $b-space-4
  justify-content: flex-start
  overflow: hidden
  padding: $b-space
  position: relative
  text-decoration: none
  +respond-to( $g-m )
    height: 0
    padding: 30% 0 0
  +respond-to( $g-l )
    height: 62.5vh
    padding: $b-space-2
  &:hover,
  &:focus
    color: white

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- CTA ----- //

.hero-cta
  background: none
  border: none
  box-shadow: 0 0 0 2px $red
  color: $red
  display: inline-block
  font-size: 1.25em
  font-weight: 400
  letter-spacing: 0.125em
  padding: 0.5em 1.25em
  text-transform: uppercase
  transition: color 200ms, background-color 200ms, box-shadow 200ms
  user-select: none
  &:hover
    background-color: rgba(white, 0.25)
    box-shadow: 0 0 0 2px $red-T
    color: $red-T

// ----- Image ----- //

.hero-image
  background-image: url( "{{ 'image-hero-default.jpg' | asset_url }}" )
  background-position: center center
  background-repeat: none
  background-size: cover
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 0
  +z-index( overlay )
  &::after
    background: rgba( black, 0.4 )
    bottom: 0
    content: ""
    left: 0
    position: absolute
    right: 0
    top: 0
    transition: opacity 350ms linear

// ----- Content ----- //

.hero-content
  font-size: 12px
  font-weight: 400
  left: 50%
  letter-spacing: 0.1625em
  line-height: 1.5
  text-align: left
  text-transform: uppercase
  width: 50%
  +z-index( overlay, 1 )
  +respond-to( $g-s )
    font-size: 14px
    line-height: 1.5
  h1
    font-size: 0.75 * $t-heading-fontSize
    font-weight: 700
    line-height: 1
    margin-bottom: 0.5em
    text-transform: none
    +respond-to( $g-m )
      font-size: 50px

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- 404 ----- //

.hero--404
  +background( 'image-hero' )
  height: calc( 100vh - #{ $b-space-4 })

// ----- Image ----- //

.hero--image
  .hero-image::after
    display: none

// ----- Home ----- //

.hero--home
  +respond-to($g-m)
    padding-top: 50%

// ----- Right ----- //

.hero--r
  justify-content: flex-end
