/**
 * Navigation
 *
 * Styles for top nav
 */

/**
 * @section Base
 */

.nav
  align-items: center
  display: flex

/**
 * @section Submodules
 */

.nav-link
  display: block
  text-align: center
  width: 20%
  a,
  img
    display: block

// Modifiers

.nav-link--logo
  img
    height: auto
    width: 120px
