/**
 * Navigation
 *
 * Styles for top nav
 */

/**
 * @section Base
 */

.nav
  align-items: center
  display: flex

/**
 * @section Submodules
 */

.nav-link
  display: block
  text-align: center
  width: 20%
  a,
  img
    display: block
    font-size: 1.2em
    text-transform: uppercase

// Modifiers

.nav-link--cart
  position: relative
  a[data-badge]::after
    background-color: $ironRed
    border-radius: 50%
    color: white
    content: attr(data-badge)
    font-weight: 700
    height: 1.5em
    letter-spacing: 0
    line-height: 1
    position: absolute
    right: 0
    text-align: center
    top: 0
    width: 1.5em
    +z-index(overlay)

.nav-link--logo
  img
    height: auto
    margin-left: auto
    margin-right: auto
    width: 120px
